<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title || "Placement Cell" %></title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>
  <body class="bg-light">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="/dashboard">Placement Cell</a>
         <div>
          <a class="btn btn-outline-light btn-sm" href="/add-company">Add Company</a> 
          <a class="btn btn-outline-light btn-sm" href="/admin/applications">Applications</a>
          <a class="btn btn-outline-light btn-sm" href="/my-applications">My Applications</a>
        </div>
      </div>
    </nav>

    <main class="container mt-4">
      
    </main>

    
  </body>
</html>
